body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('web#2.png'); /* путь к вашему изображению */
  background-size: cover; /* изображение покрывает весь экран */
  background-position: center; /* изображение центрируется */
  background-repeat: no-repeat; /* изображение не повторяется */
  background-attachment: fixed; /* фон фиксирован */
  opacity: 0.7; /* полупрозрачность фона */
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

#status {
  margin-top: 20px;
  font-size: 1rem;
  color: red;
}
